.App {
  text-align: center;
}

.title {
  text-align: center;
  width: 100%;
  border: 1px solid red;
}

.roi-view {
  display: flex;
  border: 1px solid gray;
}

.form {
  flex: 0.3;
  border: 1px solid blue;
  min-height: 500px;
}

.graphs {
  flex: 0.7;
  border: 1px solid green;
  min-height: 500px;
}
