.App {
  text-align: center;
}

.title {
  text-align: center;
  width: 100%;
  border: 1px solid red;
}

.roi-view {
  width: 100%;
  display: flex;
  border: 1px solid gray;
}

.form {
  flex: 0.25;
  border: 1px solid blue;
  min-height: 500px;
}

.graphs {
  border: 1px solid green;
  min-height: 350px;
}

.right {
  flex: 0.75;
}
